[2015-11-18 13:38] ashfurrow opened #1 "Initial Guidelines"
@orta and I had a lot of fun writing up [Moya's contributor guidelines](https://github.com/Moya/contributors), and I think we need something similar for this org.

Necessary things, I think:
- Code of conduct
- Expectations of contributors (Moya's is basically "don't stress about this")
- How to consider moving a repo to the org (probably open an issue on this repo to discuss?)
- ???

I feel stron

[2015-11-18 14:29] bontoJR commented on #1
I agree on that.

This is a very nice strategy. One little thing, I would prefer to keep guides.rxswift.org as the only exception. I am still working on rearranging the README in RxSwift repo and move some stuff there, but I am still not very happy about the result. :cry:

I will iterate more on that. :)

[2015-11-18 14:32] ashfurrow commented on #1
That makes sense! Repos have granular permissions settings, so there's nothing incompatible with keeping guides on its own.

If that's the case, later this morning I'll set up the team and maybe work with Orta on an initial PR to this repo with guidelines :tada:

[2015-11-18 16:14] esttorhe commented on #1
Hi there; thanks for the invite on this Organization :smile:

Would love to read some more on the `README` since I'm no :100: sure what's this all about :smile:

[2015-11-18 16:20] esttorhe commented on #1
Related to the teams; I think having the `Contributors` works and maybe have an `Admin` group?
Or just by marking those we want as `Owners` will suffice?

[2015-11-18 17:39] esttorhe opened #2 "RxViewModel"
I wrote [`RxViewModel`](https://github.com/esttorhe/RxViewModel) as a need for `ReactiveViewModel` but with `Rx` extensions.

Would it make sense to move it here?

If so how's the process?

Thanks to all the @RxSwiftCommunity/contributors for any input in this. :bow:

[2015-11-18 18:04] ashfurrow commented on #2
Neat! I just moved NSObject+Rx over, and some notes are in [this issue](https://github.com/RxSwiftCommunity/NSObject-Rx/issues/3). Would you like to make a todo list of what needs to happen, we can double check everything, then do the todos?

[2015-11-18 18:20] ashfurrow commented on #1
Yeah, the Owners should suffice. We've never used the Admin group for anything on Moya.

[2015-11-18 18:23] esttorhe commented on #2
Ace!
Since I'm no ownder/admin didn't know if I could create a repo here.

I'll create the todo as an issue in `RxViewModel` :+1:

[2015-11-18 18:41] esttorhe commented on #2
@ashfurrow I created the `TODO` list here => esttorhe/RxViewModel#10

[2015-11-19 15:54] ashfurrow commented on #2
@esttorhe since you're an owner of the org now, you should be able to manage the handoff from you to the org by yourself :cake:

[2015-11-19 16:32] esttorhe commented on #2
I was thinking about it actually.

Initially I did give `admin` access to @RxSwiftCommunity/contributors but then follow the same pattern as `NSObject-Rx` where the `contributors` only have `Read` access.

Was waiting until we have a more defined «structure» before completely handling this down to whatever team should handle it.

I'm not :100: sure if giving total access to `contributors` is the i

[2015-11-20 23:15] ashfurrow opened #4 "Action"
I've just published the first release of [Action](https://github.com/ashfurrow/Action), an abstraction on top of observables. Basically `Action` or `RACCommand` from ReactiveCocoa.

It's only a 0.1.0 release, since there are some [issues that need to be dealt with first](https://github.com/ashfurrow/Action/milestones/Production%20Readiness). Once they're all addressed, we can continue the conversa

[2015-11-21 17:15] #1 closed, assigned to nobody

[2015-12-07 17:12] ashfurrow commented on #4
All production-readiness issues are complete. @RxSwiftCommunity/contributors Anyone opposed to me moving this over to the community org?

[2015-12-07 17:13] esttorhe commented on #4
I'm on board on moving this over :+1:
:shipit:

[2015-12-07 17:14] orta commented on #4
:+1:

[2015-12-12 00:46] #4 closed, assigned to nobody

[2015-12-14 22:11] thanegill opened #5 "Repo for projects that support RxSwift"
How do you all feel about creating a repo similar to [awesome-swift](https://github.com/matteocrippa/awesome-swift) for projects that support RxSwift? We could include repos under RxSwiftCommunity's control, maybe even make it the "landing page" for this community.

These libraries come to mind:
- [Moya](https://github.com/Moya/Moya)
- [FirebaseRxSwiftExtensions](https://github.com/mbalex99/Fireba

[2015-12-14 22:37] ashfurrow commented on #5
Neat idea!

[2015-12-17 16:05] esttorhe commented on #5
I like this; having it under the `RxSwiftCommunity` umbrella seems natural as well.

Should we fire up the repo and start adding things to it @RxSwiftCommunity/contributors ?

[2015-12-17 16:13] ashfurrow commented on #5
Seems legit! Esteban, do you want to set that up? I imagine we could add @psophis to the contributors list so they could help out, too.

[2015-12-17 20:14] thanegill commented on #5
What should the repo name be?

If it's acting as a landing page is should probably be "RxSwiftCommunity".

[2015-12-17 20:30] ashfurrow commented on #5
I wonder if this should have any web presence? Like a basic site on rxswiftcommunity.github.io ? It'd be easy to store in a yaml file ([example](https://github.com/ashfurrow/blog/blob/master/data/talks.yml)). Thoughts?

[2015-12-17 20:59] thanegill commented on #5
Now that is a good idea! Maybe a little harder to maintain, but a better way none the less.

Octopress/Jekyll?

[2015-12-17 21:01] esttorhe commented on #5
Personally I'm not a fan of `Jekyll`/`Octopress`.

`Hugo` or `Hexo` maybe?

I'm going to create a repo called `RxProjects` and will leave it empty and keep moving there.

Any objections?

[2015-12-17 21:04] thanegill commented on #5
Anyway is fine with me.

If you want to use [github pages](https://pages.github.com) it needs to be named rxswiftcommunity.github.io.

[2015-12-17 21:05] esttorhe commented on #5
yeah i know but since is not a definitive that we will be using github pages i thought calling it something else for now and rename it if we decide to go that route

[2015-12-17 21:06] esttorhe commented on #5
Here it is: https://github.com/RxSwiftCommunity/RxProjects

[2015-12-17 21:07] #2 closed, assigned to nobody

[2015-12-17 21:09] thanegill commented on #5
Great! I'll close this and open some issues over there for more specific topics.

[2015-12-17 21:09] #5 closed, assigned to nobody

[2015-12-17 21:10] esttorhe commented on #5
:+1: :tada:

[2015-12-19 21:35] thanegill opened #6 "Changing github user name"
Just for clarity online I'm now changing my github username from @psophis to @thanegill. @psophis was an old handle that I don't use anywhere else but here. Submitting this issue just so there is no confusion about why @thanegill is now a contributor.

[2015-12-19 23:10] ashfurrow commented on #6
Cool, makes sense :+1:

[2015-12-21 01:03] #6 closed, assigned to nobody

[2016-01-04 18:26] sger opened #7 "RxMKMapView"
Hello,

I'm new to RxSwift decided to create this little project https://github.com/sger/RxMKMapView

RxMKMapView is a RxSwift wrapper for MKMapView (MapKit) delegate.

Thanks

[2016-01-06 00:22] ashfurrow commented on #7
Super, looks really cool! Are you interested in moving it to the organization or would you just like it added to http://community.rxswift.org ?

[2016-01-06 03:43] esttorhe commented on #7
I think we could add it to the website anyways (unless @sger doesn't want to)

[2016-01-06 06:47] sger commented on #7
@ashfurrow yes i'm interested add it to the organization
@esttorhe i want to

Thanks guys

[2016-01-06 15:47] ashfurrow commented on #7
Cooooool! @esttorhe do you want to help transferring this to the org? If you're busy I can take point on that.

[2016-01-06 15:50] esttorhe commented on #7
I can tackle this. I'm actually adding the project to the website.

@sger just so we are clear; moving the project to the organization will require you to transfer ownership of the repo/project to the organization.

We will add you to the organization as well (if you want and accept it) and you'd get push access, etc.

Let me know if you don' t know how to do it and I would help you.
You could sta

[2016-01-06 15:54] sger commented on #7
@esttorhe i'm ok move the project

[2016-01-06 15:57] esttorhe commented on #7
:tada:

Ok @sger you'll need to go to your repo; open settings and scroll down to the «Danger Zone» and click on `Transfer`:

<img width="790" alt="screen shot 2016-01-06 at 9 55 41 a m" src="https://cloud.githubusercontent.com/assets/2642850/12146858/af2a70e6-b45b-11e5-9f42-ebbb3739ff5b.png">

Then select/type `RxSwiftCommunity` and then let me know and I can accept that and add you to the team,

[2016-01-06 16:00] sger commented on #7
@esttorhe i'm getting "You don’t have admin rights to RxSwiftCommunity" message

[2016-01-06 16:03] esttorhe commented on #7
:joy: duuuuuh. sorry.

Adding you right now

[2016-01-06 16:04] esttorhe commented on #7
@sger done :smile:

[2016-01-06 16:06] sger commented on #7
@esttorhe done thanks man

[2016-01-06 16:08] esttorhe commented on #7
:tada: Thanks @sger !!

Here's the repo on its new home :smile:
https://github.com/RxSwiftCommunity/RxMKMapView

I'm running `middleman` locally to test the addition of this project to the website and will issue a `PR` soon

[2016-01-06 16:15] sger commented on #7
@esttorhe cool :smiley:

[2016-01-06 16:17] esttorhe commented on #7
Here's the `PR` that adds the project to the website => RxSwiftCommunity/rxswiftcommunity.github.io#27

In case @sger want to do the honors :wink:

[2016-01-08 08:35] #7 closed, assigned to nobody

[2016-02-12 15:44] ruipfcosta opened #8 "RxMediaPicker"
Hi,

I created [RxMediaPicker](https://github.com/ruipfcosta/RxMediaPicker), which is a handy RxSwift wrapper built around UIImagePickerController.

Thanks!

[2016-02-17 12:04] bontoJR opened #9 "RxBluetooth"
I started RxBluetooth with the goal of creating a cool wrapper, unfortunately I have no time left since I started this project, but @mane87 is doing a great job in maintaining it and will definitely start to implement a better version. So I think the time to move it under the RxSwiftCommunity has arrived!

Any thoughts?

[2016-02-17 12:40] ashfurrow commented on #9
Sounds cool! Do you have a link to the project?

[2016-02-17 12:41] mane87 commented on #9
https://github.com/SideEffects-xyz/RxBluetooth

[2016-02-17 14:50] ashfurrow commented on #9
Looks awesome! My only suggestions would be to add some examples, installation instructions, and some mention of RxSwift to the readme. I don't _see_ any tests, but :grimacing: that sounds really hard to test, so ¯\_(ツ)_/¯

[2016-02-17 14:54] mane87 commented on #9
I will definately improve the readme :thumbsup:
I just discussed with @bontoJR how we could test this stuff. Any suggestions from your side @ashfurrow ?

[2016-02-17 14:59] ashfurrow commented on #9
I haven't touched Core Bluetooth in years, very hard to do. It's a fairly thin abstraction on top of the hardware, could be worth asking others for advice.

[2016-02-17 15:04] mane87 commented on #9
Do you anyone who could point us in the right direction?

[2016-02-17 15:09] ashfurrow commented on #9
No, but I have a twitter I can ask.

[2016-02-17 15:09] orta commented on #9
You might have to end up using a mocking library pretty extensively, at a guess.

[2016-02-17 15:14] bontoJR commented on #9
@orta is right, there's no way to test this library with a real CB instance, we need to mock all the objects and simulate every single case (pairing, restore, failure at any level, etc...). It's a non-trivial task, CB is still a not really friendly framework, especially for the fact that has some mandatory delegates that are used to restore the connection once the app has been opened.

I can defin

[2016-03-19 16:03] sergdort opened #10 "RxSegue"
Hi, guys !
I've made [RxSegue](https://github.com/sergdort/RxSegue)
It's contains of couple reactive units to abstract navigation routine
If you think it could be useful, will be have to contribute to the community :)

[2016-03-19 17:06] ashfurrow commented on #10
Looks really cool! What can we do to support you? We can add you to [the list of RxSwift community projects](http://community.rxswift.org), and/or we can transfer your library to our organization, whatever works for you!

[2016-03-19 17:33] sergdort commented on #10
Well, I will be very honored, if my project will be in your organization :)

[2016-03-19 18:39] sergdort commented on #10
Do I need any permissions to transfer my repo?

[2016-03-20 01:10] ashfurrow commented on #10
Awesome! I've invited you to the org, and you can transfer the repo after that. [Here's a previous example](https://github.com/RxSwiftCommunity/Action/issues/15) where we did a transfer, and includes tasks we did with explanations. It's deceptively easy :smile: Make sure to take a look at the [contributor guidelines](https://github.com/RxSwiftCommunity/contributors) too, and let me know if I can a

[2016-03-22 10:31] icanzilb opened #11 "RxGesture"
Hey guys was talking about this one yesterday to @bontoJR and this morning felt like a good enough tim e to push the code to GitHub: https://github.com/icanzilb/RxGesture

Often times I need to observe taps not only on buttons but also on other views (it makes sense since they can all receive touches, right) - often times image views which the user taps or swipes to see a larger preview, etc.

Fur

[2016-03-22 15:16] ashfurrow commented on #11
Awesome! Thanks Marin. I've invited you to the org, and if you want, you can transfer the repo. A PR to https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io would probably make sense too. Here's a previous example where we did a transfer, and includes tasks we did with explanations.

[2016-03-22 15:23] icanzilb commented on #11
@ashfurrow thanks for the invite :+1: I'll wait few days before pushing to the organization cz since it's now in the open I got some feedback how to improve the code. Then I'll transfer it when I'm sure it's all okay.

Btw - where it says "Here's a previous example" there is no link to that :)

[2016-03-22 15:24] ashfurrow commented on #11
Ha, oops. Example is here: https://github.com/RxSwiftCommunity/Action/issues/15

[2016-03-22 15:31] sergdort commented on #10
Hi, guys.
Looks like I've made all required steps, so [RxSegue](https://github.com/RxSwiftCommunity/RxSegue) is now part of community 🌎🎉🎉

If, you see that I missed some, please let me know 😀

[2016-03-22 15:32] sergdort commented on #10
Thank you very much for the invitation 😊

[2016-03-25 09:53] icanzilb commented on #11
[x] tidied up the code and any mentions of Marin Todorov
[x] updated the remote url of the podspec
[x] cleaned up the README
[x] updated the LICENSE copyright

I think it's ready for a hand off

[2016-03-25 10:14] #11 closed, assigned to nobody

[2016-03-25 10:14] icanzilb commented on #11
Thanks @ashfurrow - it's done :+1:

[2016-03-25 12:23] ashfurrow commented on #11
Awesome! Want to add to https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io ?

[2016-04-18 13:11] nathankot opened #12 "RxMultipeer"
I've written a RxSwift wrapper around MultipeerConnectivity that also has the added benefit of being testable using the adapter pattern: https://github.com/nathankot/NKMultipeer

Only just recently discovered RxSwiftCommunity but I'm happy to rename it to `RxMultipeer` and get it namespaced under this organization if there's interest :)

[2016-04-20 07:23] ashfurrow commented on #10
Awesome, I think this is closed, eh?

[2016-04-20 07:23] #10 closed, assigned to nobody

[2016-04-20 07:25] ashfurrow commented on #12
Super cool! Looks awesome :tada: You're welcome to join, you can see a series of steps on how we've moved other repos under the org here: https://github.com/RxSwiftCommunity/contributors/issues/4

I've invited you to join the organization – if you have any questions about the process, don't hesitate to reach out. Thanks for contribution to the RxSwift and iOS open source communities!

[2016-04-21 00:46] nathankot commented on #12
Awesome =D I'll be moving the repo over, over the weekend.

[2016-04-25 00:47] #12 closed, assigned to nobody

[2016-06-02 13:07] GuyKahlon opened #13 "I would like to add my project RxStarscream to RxSwiftCommunity"
A lightweight extension to Starscream to track WebSocket events using RxSwift observables.

For more details:
https://github.com/GuyKahlon/RxStarscream.

Thanks,
Guy

[2016-06-03 16:58] ashfurrow commented on #13
Very cool! Love the logo. Are you looking to only have it live on http://community.rxswift.org or would you like to migrate it to the organization? Happy to do whatever I can to help.

[2016-06-04 09:08] GuyKahlon commented on #13
Hey @ashfurrow I'm glad to hear you like it (and the logo :)).
I would like to migrate it to the organization, I would like also to join into the organization, I have a few more Rx stuff to share with you.

Thanks for the help.

[2016-06-04 16:16] ashfurrow commented on #13
Awesome! I've invited you to the org, so you should be set. Our contributor guidelines are [here](https://github.com/RxSwiftCommunity/contributors), let me know if you have any questions.

Here's an example of when someone has done this before: https://github.com/RxSwiftCommunity/contributors/issues/11 Let me know if I can help 👍

[2016-06-05 14:14] GuyKahlon commented on #13
Hey @ashfurrow, thank you for the invitation 😃

Looks like I've made all required steps and RxStarscream is now part of the RxSwiftCommunity.
If, you see that I missed some, please let me know and I'll fix it.

[2016-06-06 16:41] ashfurrow commented on #13
Cool, looks good! Should probably be added to https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io . We should think of how to add unit tests and continuous integration, want to open an issue on the repo?

[2016-06-07 07:53] GuyKahlon commented on #13
I've added the project to https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io under **Projects that Extend Other Projects with RxSwift**

I've opened issues for 'Add Unit Tests' and 'Add CI' on the repo, I'm starting to think who to add Unit Test (if you have any thoughts, how to do that please let me know), and after that I'll add a CI.

[2016-09-14 19:36] zzdjk6 opened #14 "I want to add my project RxEventHub to RxSwiftCommunity"
`RxEventHub` is an event hub based on `RxSwift`, it makes multicasting event easy, type-safe and error-free, it's intent to replace usage of `NSNotificationCenter` in most cases.

Project Github: [https://github.com/zzdjk6/RxEventHub](https://github.com/zzdjk6/RxEventHub)

Please review and consider adding it into RxSwiftCommunity, thanks.

[2016-09-14 19:51] ashfurrow commented on #13
Cool, I'm going to close this issue since it looks wrapped up. Feel free to re-open.

[2016-09-14 19:51] #13 closed, assigned to nobody

[2016-09-14 19:51] ashfurrow commented on #14
Looks nice, great readme :+1: I'll invite you to the org. Here are our contributor guidelines: https://github.com/RxSwiftCommunity/contributors And here's an example of when we've moved a repo over already: https://github.com/RxSwiftCommunity/contributors/issues/11 Please let me know if you have any questions or if I can be of help.

[2016-09-15 15:45] zzdjk6 commented on #14
Thanks for such quick reply, I'm preparing the MOVE.

I read the issue be referred, and come up below checklist:

[]Update copyright in code
[]Update copyright in LICENSE
[]Update podspecs with new remote URL
[]Update CI badge
[]Update CI settings
[]Update README
[]Fork the repo back to my personal account

I'd like to know should I transfer the ownership first? or should I finish the check list f

[2016-09-15 15:46] ashfurrow commented on #14
Whatever makes sense for you! I usually transfer first.

[2016-09-15 15:47] zzdjk6 commented on #14
Thanks, I'll do transfer first too.

[2016-09-15 16:17] zzdjk6 commented on #14
I have done all items on checklist:

[x]Transfer the repo's ownership
[x]Fork the repo back to my personal account
[x]Update copyright in code
[x]Update copyright in LICENSE
[x]Update README
[x]Update podspecs with new remote URL
[x]Update CI badge
[x]Update CI settings

May you help check if this MOVE is successfully done?

[2016-09-15 17:06] ashfurrow commented on #14
Looks great! The only missing thing is the CI badge is still pointing to http://img.shields.io/travis/zzdjk6/RxEventHub.svg?style=flat instead of http://img.shields.io/travis/RxSwiftCommunity/RxEventHub.svg?style=flat

[2016-09-15 19:40] zzdjk6 commented on #14
Sorry for that, already fixed it, thanks for point it out :)

[2016-09-15 20:18] ashfurrow commented on #14
No problem! It all looks good, going to go ahead and close this issue. Thanks again!

[2016-09-15 20:18] #14 closed, assigned to nobody

[2016-10-17 03:32] inkyfox opened #15 "RxGoogleMaps"
Hey guys,

I've just written RxGoogleMaps which is a Rx wrapper for GoogleMaps SDK.
https://github.com/inkyfox/RxGoogleMaps

It provides various reactive extensions for delegates and properties of GMSMapView and GMSOverlay. Because GoogleMaps SDK contains static binaries, it needs one more step after `pod install`, but it can be acceptable in general, I think.

Thanks

[2016-10-17 13:39] ashfurrow commented on #15
Cool, awesome! I've invited you to the organization, the contributor guidelines and code of conduct are in the readme of this repository. Check this issue out for an example of how to move a project over: https://github.com/RxSwiftCommunity/contributors/issues/14 And let me know if I can be of any help!

[2016-10-17 23:19] inkyfox commented on #15
Wow, great!

I have done items on checklist:

[x]Transfer the repo's ownership
[x]Fork the repo back to my personal account
[x]Update copyright in code
[x]Update copyright in LICENSE
[x]Update README
[x]Update podspecs with new remote URL

@ashfurrow

[2016-10-17 23:58] ashfurrow commented on #15
Looks great, thanks! Let me know if there's anything else I can do to help!

[2016-10-17 23:58] #15 closed, assigned to nobody

[2016-11-09 21:44] DivineDominion opened #16 "RxFileMonitor (Mac)"
https://github.com/CleanCocoa/RxFileMonitor

Put this up to get reactive file system events when monitoring a folder (or file). Pretty simple thing, really.

[2016-11-10 07:11] ashfurrow commented on #16
Very cool, what a neat idea for a framework! [Here's an issue](https://github.com/RxSwiftCommunity/contributors/issues/15) where we've moved a project over to the org, if that's something you're interested in. I've invited you to the org, let me know if I can be of further assistance :bow:

[2016-11-10 07:35] DivineDominion commented on #16
Will look into the checklist. I've got a small favor to ask, though: can you point me to naming conventions in the land of reactive/declarative programming? I was told `FileEvents.folder(...)` would be a better fit; I now see that `Monitoring.folderMonitor` carries my imperative training with it :) My next suggestion would be `Monitor.folderMonitor(url:)`.

[2016-11-10 07:45] tonyarnold commented on #16
Why even have the class method? Could you not just init the FileMonitor instance?

[2016-11-10 08:41] ashfurrow commented on #16
Yeah, either makes sense to me 👍 I prefer the instance like Tony suggests.

[2016-11-10 14:02] DivineDominion commented on #16
By making the monitor type a subclass of `Observable`, that is? I cannot imagine the consequences, though. Could work, if you say that's idiomatic :)

[2016-11-24 14:06] DivineDominion commented on #16
Here we go:

- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [x] update the remote URL of the Podspec (if any)
- [x] update CI badge
- [x] update CI settings
- [x] merge changes into community repo :)
- [x] transfer repository ownership (once you're a contributor)
- [x] fork the repo back to your personal

[2016-11-24 15:02] DivineDominion commented on #16
@ashfurrow I thought I'd have write access after transferring ownership, but no :) Can you merge the PR or grant me write access to https://github.com/RxSwiftCommunity/RxFileMonitor to continue?

[2016-11-24 16:46] ashfurrow commented on #16
Should be good now, sorry about that!

[2016-12-13 16:10] DivineDominion commented on #16
Done with the migration, now comes integrating your feedback 👍

[2016-12-13 16:10] #16 closed, assigned to nobody

[2016-12-18 20:20] reloni opened #18 "RxHttpClient"
Hello.
I made a little HttpClient with RxSwift. It's a wrapper for `URLSession`, it transforms session events (like `didReceiveResponse` or `didReceiveData`) into Observable events.
I would be glad add this project to the community if it's suitable.
Project: https://github.com/reloni/RxHttpClient

[2016-12-19 17:03] ashfurrow commented on #18
Cool, looks awesome! I've invited you to the organization, [here are instructions](https://github.com/RxSwiftCommunity/contributors#stewarding-a-project) on how you might transfer it to the GitHub organization. Let me know if I can be of any help!

[2016-12-20 19:18] reloni commented on #18
@ashfurrow
Hello. I think I did most of steps. But I don't understand this: add project to https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io. What exactly should I do?
And is it possible now for me to manage some additional settings as I can do with my own repositories: for example choosing protected branch, or choose additional status checks. My project had code coverage check (with

[2016-12-21 04:32] reloni commented on #18
I see that codecov check working. But managing integrations for repo requered admin rights, right?

[2016-12-21 21:11] ashfurrow commented on #18
Awesome, good work! To add a project, add it to this file: https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io/blob/source/data/items.yml . Not sure if admin status is required or not, I'll look into it 👍

[2016-12-21 21:16] ashfurrow commented on #18
Aye, you need admin permissions to add the CodeCov webhook. You should have those permissions, let me know how it goes.

[2016-12-26 18:55] reloni commented on #18
@ashfurrow
Opened PR here: https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io/pull/46
It seems I have completed all steps. Thanks for assistance:)

[2016-12-29 21:21] ashfurrow commented on #18
Awesome! I've merged it – going to close this issue but please let me know if I can be of more help 👍

[2016-12-29 21:21] #18 closed, assigned to nobody

[2017-01-24 22:52] pgherveou opened #19 "rxpager"
Hey there
I created and published this repo to create simple Rx based pager.
Let me know if this could be a good fit for RxSwiftCommunity

https://github.com/pgherveou/rxpager

[2017-01-31 17:56] ashfurrow commented on #19
Super cool! I'll add you to the organization and you can follow [this checklist](https://github.com/RxSwiftCommunity/contributors#checklist-for-transferring-ownership) to transfer things. Let me know if you have any questions!

[2017-01-31 18:19] pgherveou commented on #19
Cool Thks for the invite @ashfurrow

[2017-01-31 18:19] #19 closed, assigned to nobody

[2017-02-21 04:54] scottrhoyt opened #20 "RxTask"
[RxTask](https://github.com/scottrhoyt/RxTask) offers an RxSwift wrapper to launching tasks on the command line via `Foundation.Process`. The library has basic functionality, has good test coverage, is fully documented, and is available for consumption via Carthage or SPM.

While the existing functionality will work for most use cases, there are a couple of major features left to implement:

* Con

[2017-02-21 23:34] ashfurrow commented on #20
Looks cool! I've invited you to the org, instructions for transferring the repo are [in the readme](https://github.com/RxSwiftCommunity/contributors#checklist-for-transferring-ownership), let me know if I can clarify anything or help!

[2017-02-22 00:29] scottrhoyt commented on #20
Thanks @ashfurrow !

[2017-02-24 06:17] #20 closed, assigned to nobody

[2017-04-05 14:28] groue opened #21 "Introducing RxGRDB"
Hello,

I wish the repository http://github.com/groue/RxGRDB would eventually join RxSwiftCommunity.

RxGRDB provides reactive extensions for [GRDB.swift](http://github.com/groue/GRDB.swift), the "toolkit for SQLite databases, with a focus on application development".

While GRDB is already pretty solid and fuels a few applications on the App Store, RxGRDB is still in the alpha stage. Yet if it wo

[2017-04-05 17:44] ashfurrow commented on #21
Great, looks cool! I've invited you to the org, here's a list of next steps: https://github.com/RxSwiftCommunity/contributors#checklist-for-transferring-ownership Let me know if we can help.

[2017-04-06 12:03] groue commented on #21
It looks like [RxSwiftCommunity/RxGRDB](https://github.com/RxSwiftCommunity/RxGRDB) is live, now!

Thanks to all 👍

[2017-04-06 12:03] #21 closed, assigned to nobody

[2017-04-23 18:07] nightfall708 opened #22 "Binding to viewModel"
Hi there,
I'm trying to bind to a viewModel variable of type `Variable<RxGestureTypeOption>`. What would be correct to set as a default value?

[2017-04-23 18:10] freak4pc commented on #22
@switchawk This is not a support repository, please try [the slack group](https://rxswift-slack.herokuapp.com/) :)

[2017-04-23 18:10] #22 closed, assigned to nobody

[2017-05-24 09:06] rsobolewski opened #23 "RxMotionKit"
Hey!

3 months ago I have created a RxMotionKit 🏃 which is reactive wrapper based on RxSwift for CoreMotion framework. Today I have just discovered RxSwift community, and I think that it will be nice to contribute. Project can be installed with CocoaPods or Carthage.

Link for the repository: https://github.com/rsobolewski/RxMotionKit

Thanks!

[2017-05-24 10:02] freak4pc commented on #23
Hey! Congrats and good job on all the work !

Could you clarify difference between this and [RxCoreMotion](https://github.com/RxSwiftCommunity/RxCoreMotion) ?

[2017-05-25 12:22] rsobolewski commented on #23
I think this is a different approach. In my implementation you have lot more customizability and simple API. You can set independent update time interval for each sensor or device motion reference frame. In my approach end user don't know on underlying `CMMotionManager`.

Each access to sensor has individual implementation with common interface which is fully open to abstraction and testability. R

[2017-05-25 19:10] freak4pc commented on #23
That sounds good! I like the API but I'm wondering why you're still using the old `rx_event` notation vs `rx.event`, while the former isn't used anymore AFAIK (I guess this is a specific thing we could address in a PR but its probably better to be "production ready")

Anyways no reason not to migrate this into RxSwiftCommunity!

Please copy paste the following checklist to your first post in this

[2017-05-31 06:19] nazeehshoura opened #24 "RxState"
Hey!

I have created a [RxState](https://github.com/nazeehshoura/RxState) - A Redux implementation in Swift using RxSwift. Would be a nice addition to RxSwiftCommunity projects :)

Thanks!

[2017-05-31 14:55] ashfurrow commented on #24
Hey there, looks cool! I've invited you to the GitHub organization; the notes in this repo's readme include the steps to transfer a project. Let me know if I can help!

[2017-06-18 12:54] DevAndArtist opened #25 "RxContainer"
- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in LICENSE
- [ ] replace copyright in README
- [ ] transfer repository ownership (once you're a contributor)
- [ ] add project to https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io
- [ ] fork the repo back to your personal account
- [ ] update the remote URL of the Podspec (if any)
- [ ] updat

[2017-06-19 14:46] ashfurrow commented on #25
Cool! I've invited you to the organization, let me know if I can be of further help!

[2017-06-19 14:49] DevAndArtist commented on #25
@ashfurrow Hi there, thank you. I want to add Travis-CI to this project. How should I update CI settings when the project is transferred?

[2017-06-19 14:50] ashfurrow commented on #25
Hmm, not entirely sure. I usually have to update the badge URL and the rest "just works" – we're here to help if things go wrong!

[2017-06-19 14:51] freak4pc commented on #25
Just out of context of this specific ticket but I think it would be highly beneficial if your repo explains exactly *what* it does and what it aims to solve... It immediately show code with no explanation and that might be confusing to people browsing through the RxCommunity repo

[2017-06-19 14:52] DevAndArtist commented on #25
@freak4pc Yeah, well there is still some work to do and some more documentations. It's just there so it does not look empty at this point.

[2017-08-12 10:22] maxvol opened #26 "RxCloudKit"
https://github.com/maxvol/RxCloudKit

i believe my project belongs in RxSwiftCommunity.

it is not sufficiently tested yet, but is pretty mature by now (i personally do use it in a few personal projects that are scheduled for production this fall).

cheers, Maxim

### Checklist for Transferring Ownership

- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright

[2017-08-12 10:32] freak4pc commented on #26
Hey Maxim, I added the Conformance Checklist to your original post. Could you make sure you follow the entire list and make sure you're covered there ?

[2017-10-25 16:57] ashfurrow opened #27 "Amend Readme template to include point-person"
We have so many repos that it can be hard to know who to ask for help. Usually the original creator of the repo is the best choice, but finding out who that is could be easier.

I suggest including instructions to add point-people to readme across our repos. Not a critical change, so we can do this gradually, but I think it's a step in the right direction.

Thoughts @RxSwiftCommunity/contributors

[2017-10-25 16:58] ashfurrow opened #28 "Peril Integration"
[Peril](https://github.com/danger/peril) is like [Danger](http://danger.systems) except it's hosted and is applied org-wide. Basically what I'm proposing is we take common issues from pull requests and apply them to _all_ RxSwiftCommunity repos.

Things like:

- Making sure a changelog entry exists.
- Making sure the PR has an accompanying description.
- Making sure podspec changes and cartfile ch

[2017-10-25 16:59] freak4pc commented on #27
👍 good idea

[2017-10-25 17:08] groue commented on #27
Nothing against. But aren't issues the preferred Github way to contact a repo's maintainers? Maybe you're thinking about cross-repos questions.

[2017-10-25 19:30] esttorhe commented on #28
Makes sense.
I like standardizing the whole org.

Where would this love though? Heroku?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-25 19:49] ashfurrow commented on #27
Yeah, what I mean is if a conversation in a GitHub issue needs guidance from someone really familiar with that project, it would help (me, mostly 😛 ) to know who to turn to. Am I making sense?

[2017-10-25 20:41] bobgodwinx commented on #27
I would just suggest `maintainers` and add people who are qualified to maintain the repo as maintainers to it. But I bet this is a difficult task. :)

[2017-10-25 21:20] fpillet commented on #27
I'd side with @groue. Issues are expected to be the primary way of getting support. Internally, pinging someone directly is obviously a good thing but I fear that people use it too liberally just to get faster support / answers, uselessly increasing the pressure on maintainers.

[2017-10-26 01:12] rynecheow commented on #27
I'm not against it.

[2017-10-26 05:09] icanzilb commented on #27
I’m also not super excited about being directly responsible for the repos i contributed, i’m afraid many people do not understand what maintainer exactly entails

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-10-26 07:09] DivineDominion commented on #27
Issues sound good to me; What about adding a line to `CONTRIBUTING.md` about the originator which GitHub will link to when you open an issue?

[2017-10-26 07:31] devxoul commented on #27
Agree to @DivineDominion's idea. GitHub has a guide page about [CONTRIBUTING file](https://opensource.guide/starting-a-project/#writing-your-contributing-guidelines) and there is a similar content about maintainers:

I think we could add a maintainer section to the CONTRIBUTING file for example:

[code]

Alternatively we could consider an issue template or a pull request template to let users know

[2017-10-26 07:35] fpillet commented on #27
Going for a CONTRIBUTING file sounds good. This way other community maintainers know where to look at when they need to contact someone, and we make it no-so-obvious for everyone else to reach directly to the maintainer. I've seen (on GitHub or on Slack) some newcomers being particularly pushy for no good reason, trying to avoid this case.

[2017-10-26 14:47] ashfurrow commented on #28
Yeah exactly. Peril's [setup docs](https://github.com/danger/peril/blob/master/docs/setup_for_org.md) specifically target Heroku. I'm happy to host it on my Heroku account and set it up 😄

[2017-10-26 14:50] ashfurrow commented on #27
Yeah, I think a CONTRIBUTING file strikes a good balance between making it possible to find out who to contact when needed, without making it too easy for people to spam maintainers. If that's the case, I'll open a PR this weekend. More feedback is always welcome.

[2017-10-26 20:42] kzaher commented on #27
My 2 cents.

I'm afraid that if we add particular people they will be quoted inside issues and people will assume that will help to resolve their issues more quickly.

I think it could actually create an opposite effect.

It will reduce the chance of somebody else helping them out because they will think it's not their business because they are not quoted, and thus not being asked.

The maintainer

[2017-10-27 08:51] bobgodwinx commented on #27
@kzaher You just read my mind with that comment. `It will reduce the chance of somebody else helping them out because they will think it's not their business`  I would suggest that each repo should have more maintainers for a start and that one point person should just stand as a top reference but other maintainers should be able to help when there is an issue.
[He is a really good link on how ope

[2017-10-27 09:12] fpillet commented on #27
@bobgodwinx Again and as suggested before, that's the primary reason why we have Github issues. Some repos are more active than others, and some people (like yourself) helping on multiple repos is great and I don't think we need to change this process -- anyone interested can chime in and respond to issues. Only make sure you get notified if you want to participate.

[2017-10-27 13:16] ashfurrow commented on #27
I think some of my intent was miscommunicated – please understand that I'm not interested in increasing the volume of anyone's inbox or making anyone feel like they have to contribute. Our contributor guidelines lay this out specifically:

The problem I opened this issue to solve is this: when help is asked for on a PR or input is requested in a discussion, I'd like some way to alert _only_ the pe

[2017-10-27 14:49] groue commented on #27
@ashfurrow:

That's much more clear, thank you.

Yes, ringing all contributors sounds like killing a mosquito with a bazooka (yet the mosquito is killed, which is the desired effect). Now Github lets users watch repos if they want, and this covers a great deal of your needs: the point-persons you look after are likely to be already watching the repos they feel like contributing to. They are notifi

[2017-10-27 16:30] ashfurrow commented on #27
I don't think watching a repo is sufficient; I don't watch a lot of repos I'm on, and it's a read-only mechanism (there's no way to @ the watchers when needed). I rely on the ability for people to seek me out and ask for help when they need it. That information is already available (through git commit history, GitHub commit graphs), I just want to make it a little easier to access.

A tangential p

[2017-10-27 17:16] freak4pc commented on #27
I think I'd like to add some more thoughts due to the discussion here.

This is, as @ashfurrow said, a very tricky topic.

From one hand we want people who have actual serious problems to be able to reach out to project owners.

On the other hand, I totally understand the worries of some people here. Keeping a project active and developers happy is already a non-trivial job :) People are (on a dai

[2017-10-27 19:29] ashfurrow commented on #27
Wow, having a per-repo core team sounds like a really good compromise. That would also allow members to filter out email sent to them because of their membership to that team (if they want to). How do others feel about this idea?

[2017-10-27 20:15] kzaher commented on #27
Hi,

First of all, I would like to say that everybody in this thread are my heroes. Without help from volunteers like you, we couldn't run this.

Having said that, I would like to make your lives as easy as possible.
Everybody here is a volunteer, we help out when we can and when it makes sense for us. I'm assuming that the incentive for helping out and investigating issues is that maintainers are

[2017-10-30 09:11] bobgodwinx commented on #27
Can we also talk about pod trunk ? https://github.com/RxSwiftCommunity/RxCoreData/issues/25

[2017-10-30 09:26] freak4pc commented on #27
@bobgodwinx This is the same thing really. We need a good way to know the owners of a repo

[2017-10-30 09:44] bobgodwinx commented on #27
I don't know... maybe we should form a `Core Team` for this kind of petty problems ? like Apple https://swift.org/community/#communication it's just a suggestion... these are things that should handled immediately and would encourage fast pace development... please correct me if I am wrong.

[2017-10-30 09:57] icanzilb commented on #27
@bobgodwinx "these are things that should handled immediately" ? Can you give an example?

[2017-10-30 10:09] bobgodwinx commented on #27
@icanzilbI I may have mis-spoken `these are things that should handled immediately` please don't be mad at me I didn't mean it bad . All I was try to say is this: For example we had a `Swift 4.0` release and most frameworks rush to updates but some aren't updated, some #PRs are ready and no one to handle it, I repeat my intention is not to get anyone angry or look pushy but it would be nice to hav

[2017-10-30 10:12] freak4pc commented on #27
@bobgodwinx I understand what you mean, but I don't agree with "immediately" :)
The Swift core team is very well paid by Apple, we are all OSS contributors working on our own spare time.

We need to release versions as soon as possible, but we don't need to pressure anyone's time into this community.

People who are the sole owners of a Cocoapod need to be extra responsible since the development o

[2017-10-30 10:16] groue commented on #27
@bobgodwinx You can use `pod 'RxCoreData', :git => 'https://github.com/RxSwiftCommunity/RxCoreData.git', :tag => '0.4.0'` in your podfile until @scotteg comes back and give you the keys to `pod trunk push`.

[2017-10-30 10:19] freak4pc commented on #27
PS, as a sidenote, I believe we (perhaps with @ashfurrow ?) discussed having Cocoapod owners for RxSwiftCommunity repos always add a secondary person as owner, so there's always a fallback for new version releases. Not sure if we're able to do that but it's beneficial since some of this repos have been sort of abandoned by their original owner.

[2017-10-30 10:19] icanzilb commented on #27
@bobgodwinx  Don't worry - I understand the sentiment and the situation when a commercial project is depending on os libs that don't get updated in alignment with your own deadlines.

It's a measured risk that project owners should account for - OS libs (if not sponsored) are moving ahead on their own accord. As an example - last year I had a bad medical issue and a death in the family, many peopl

[2017-10-30 10:19] bobgodwinx commented on #27
@freak4pc @icanzilb sorry for using `immediately` I was just flowing with the keyboard. But thanks you awesome guys understand. @groue thanks for the info.

[2017-10-30 10:21] freak4pc commented on #27
100% with this, exactly what I wrote above your comment @icanzilb :)

One more owner is fine. I mean, original owner and someone who's a prominent member of the community (you, me, florent, ash, etc). People who can "in emergencies" deal with at least pushing a new release.

[2017-10-30 10:24] bobgodwinx commented on #27
Maybe not step down but just add some else to it will do the job `pod trunk add-owner NAME_OF_LIB another.person@rx.community.org`

[2017-10-30 10:29] icanzilb commented on #27
yes, indeed "stepping down" would not be required - I just thought it could be reasonable to ask if one loses interest or is otherwise not able to do maintaining to voice this ("the stepping down") instead of just disappearing 😊

[2017-10-30 12:05] orta commented on #27
IMO ( as the guy who receives every admin request on trunk ) you should have a shared private repo, (or use a [keybase git repo](https://keybase.io/blog/encrypted-git-for-everyone ) with credentials for an RxSwift community user account `community@rxswift.com` that is added to every lib here, then anyone can ship a version

[2017-10-30 12:18] freak4pc commented on #27
Great idea @orta . I was sort of leaning towards that same solution.

Was hoping to just see Organization-level `pod push` credentials, but that's probably not in the scope of this discussion.

A singular community@rxswift.com is a relatively easy method but I think a bit easy to exploit.

Not sure on your idea for a Shared Private Repo - how would that solve it here? Just throwing in an email and

[2017-10-30 12:58] scotteg commented on #27
I am fine if someone such as @bobgodwinx wants to take over RxCoreData. Just let me know what I need to do. Thanks

[2017-10-30 13:37] bobgodwinx commented on #27
@scotteg I am not taking over RxCoreData. But just the ability to publish updates to cocoapods when necessary. For now can you just trunk it and we would find a solution all together that solves issues. Thanks very much for getting back to the Team.

[2017-10-30 13:38] kzaher commented on #27
I'm still a bit confused with the list thing. Everybody on this list should have permissions to create new tags in all of the repos.

If the problem we are trying to solve is that we need to add enable all of the RxSwiftCommunity contributors to publish new cocoapods release, then lets just do what @orta suggests.

[2017-10-30 13:39] freak4pc commented on #27
@kzaher I'm not entirely sure what orates solution is. I don't know of Cocoapods' abilities for teams. If there's a straightforward solution let's go ahead and do it. It's been very hard to maintain specs otherwise.

[2017-10-30 13:48] esttorhe commented on #27
I think this issue has been greatly beneficial to what Ash originally addressed and also to make us notice some more issues we need to improve.

That being said I think we are discussing now 3 different things in 1 single place which makes it harder to follow and causes a lot of confusion.

I suggest:

1. Closing this issue and opening a new one with the new information; better worded and some of

[2017-10-30 13:49] freak4pc commented on #27
I agree :+1: @esttorhe

[2017-10-30 14:06] bobgodwinx opened #29 "Define a solution for organization members to push new version(s) of projects"
### Currently
As per indication at the moment all the `RxSwiftCommunity` repositories  doesn't have a shared access where contributors could easy make updates and deploy the approved updates when ready.
### Required
Discuss and find a solution to this problem where contributors could update and deploy on all fronts without contacting the original creator of the repository.

[2017-10-30 14:53] freak4pc commented on #29
Continued discussion from #27 .

This issue is to make a decision on how we can resolve the issue where repo (our Cocoapods, specifically) owners become inactive and are:

* no longer involved with the project; or
* have less time at that specific period of their life

Since we are all working on our spare time, the latter is a very very common scenario.

Right now the only solution we have is to

[2017-10-30 15:03] ashfurrow commented on #29
Yeah yeah, I like this discussion! I'm pretty busy this week but will try to chime in when I can. If there're specifics I can answer, please @ me.

[2017-10-30 16:19] bobgodwinx commented on #29
I will be handling ` RxCoreData`until we find a solution in here. for the whole community.

[2017-11-03 21:13] ashfurrow commented on #27
Agreed. https://github.com/RxSwiftCommunity/contributors/issues/29 is already opened, I'll collect info from this thread and open two issues tomorrow. Thanks for the discussion so far everyone – your feedback keeps this community healthy :heart:

[2017-11-03 21:13] #27 closed, assigned to ashfurrow

[2017-11-04 16:15] ashfurrow commented on #8
Cool! So this has been done, right? I'm going to close but please re-open if I'm wrong 😺

[2017-11-04 16:15] #8 closed, assigned to nobody

[2017-11-04 16:15] ashfurrow commented on #9
Hey there – any follow-up on this? Happy to provide high-level direction. Cheers!

[2017-11-04 16:17] ashfurrow commented on #23
Hi @rsobolewski! Just wondering if there's anything I can do to help follow-up on this? Let me know what I can do, and sorry for the delay!

[2017-11-04 16:18] ashfurrow commented on #24
Hey @nazeehshoura – it looks like this has been finished, so I'm going too lose the issue. Please re-open if there's anything more to discuss. And thanks again for being a part of our organization!

[2017-11-04 16:18] #24 closed, assigned to nobody

[2017-11-04 16:18] ashfurrow commented on #25
Hi @DevAndArtist! Anything I can to to help follow-up on this? Just let me know 😃

[2017-11-04 16:19] ashfurrow commented on #26
Hi @maxvol – it doesn't look like anyone has added you to the org yet, preventing us from moving forward on this. Are you still interested? Let me know and I'll help out!

[2017-11-04 16:23] ashfurrow opened #30 "Share release credentials?"
We have a bunch of projects and they're all released _fairly_ similarly: tag, push, and send to CocoaPods Trunk. We should have some way for org members to step in and help deploy any RxSwiftCommunity library.

I have a few initial ideas, but this discussion is very open-ended, so chime in!

Maybe we could have a centralized RxSwiftCommunity CocoaPods Trunk account and share credentials securely t

[2017-11-04 16:31] ashfurrow opened #31 "Come up with a plan to address stewardship concerns"
A follow-up to https://github.com/RxSwiftCommunity/contributors/issues/27 . This is a meta-issue where I will track and collect information for me to open a further issue where we can have an actual discussion.

[2017-11-04 16:31] ashfurrow commented on #27
I've opened the following issues to follow up on this conversation. I'm really time-constrained right now so I might not be able to address them all quickly, but they're there.

- https://github.com/RxSwiftCommunity/contributors/issues/30
- https://github.com/RxSwiftCommunity/contributors/issues/31
- https://github.com/RxSwiftCommunity/RxCoreData/issues/28

[2017-11-04 16:34] esttorhe commented on #27
Thanks Ash! 🙏

Don't worry about the time to address them.
I think most of them (maybe sans 31) the community can tackle them by themselves freeing some of your time as well.

–
Esteban Torres
iOS Developer

Phone: (+49)0162-4190-543
Skype: esteban.a.torres.hernandez
Twitter: @esttorhe

On 4. Nov 2017, 17:31 +0100, Ash Furrow <notifications@github.com>, wrote:

[2017-11-04 16:35] freak4pc commented on #30
If I'm not mistaken the only way to push stuff to Specs today is with an email and password right? If there would be some secret/private key pair we could use to do this, it would've been much nicer in this sense (of an organization). Anyways using a shared user/pass could work but feels like there should be a nicer way.

[2017-11-04 17:06] ashfurrow commented on #30
Yeah, I should have mentioned how CocoaPods authenticates trunk pushes. It uses a [`.netrc`](https://wiki.christophchamp.com/index.php?title=.netrc) file in your home folder to authenticate using HTTP(s) basic auth.

<img width="379" alt="screen shot 2017-11-04 at 1 00 43 pm" src="https://user-images.githubusercontent.com/498212/32407520-c0c7ab02-c160-11e7-8567-2a3b30e5be8e.png">

The thing is, `.

[2017-11-04 18:08] bobgodwinx commented on #9
@bontoJR @ashfurrow Let me know if I can help you in this area. I worked extensively with bluetooth in my last company.

[2017-11-04 18:28] freak4pc commented on #30
Basic auth meaning we need to have a single email and password, pretty much - right ?

[2017-11-04 18:31] bobgodwinx commented on #30
I think you won't need the `TRUNK_EMAIL` but just the `AUTH_KEY` and you should be good to go. If I am not mistaking?

[2017-11-04 18:34] ashfurrow commented on #30
@freak4pc yes exactly.

@bobgodwinx I believe we need both, as the token authenticates the email, which is used to check if the email has push access to the pod.

[2017-11-04 18:36] freak4pc commented on #30
@bobgodwinx This isn't something like OAuth unfortunately, so the authentication is sort of a "one off", and you always need the email/pass pair to push a version up. Anyways I think we're on the same page, we'll probably need to do some work on Cocoapods itself before we can make satisfy this demand.

[2017-11-06 16:54] bobgodwinx commented on #30
Ah ok I get it. This means only people added to the `TRUNK_TOKEN` will be able to trunk to cocoapods.

[2017-11-13 14:45] maxvol commented on #26
Hi @ashfurrow - yes I am still interested, although I decided to postpone ownership transfer until the codebase is more mature. I am using it in a few projects, one of which is live for about a month or so, but I am still making compatibility-breaking changes.

Perhaps you can add me to the org anyway because I would like to contribute to RxCoreData and some other projects as well. My pull-request

[2017-11-16 03:10] ashfurrow commented on #26
Cool cool – thanks again and let me know if I can help.

[2017-11-17 16:25] onmyway133 opened #32 "RxLifeCycle"
I've read https://github.com/RxSwiftCommunity/contributors and I thought this https://github.com/onmyway133/RxLifeCycle should belong to RxSwiftCommunity. I've used this approach in many of projects, and now it should be a pod, in hope that people find it useful ❤️

The only thing left is to test view controller containment, which I still don't know how to do, here is my question on twitter https:

[2017-11-19 18:54] freak4pc commented on #32
This comment is entirely personal opinion, so don't take it as a "set in stone" thing.
I want to start off by thanking you on the amount of work you spent on the project, as well as the time you spent submitting it to RxSwiftCommunity. It is definitely appreciated ! 😄

First, I think the swizzled approach isn't "nice" - but it is working well since it has been battle tested with various code bases

[2017-11-19 19:14] mosamer opened #33 "RxTestExt"
https://github.com/mosamer/RxTestExt

This project aims to add some helpers commonly used while testing Rx code, something similar to `RxSwiftExt` but for `RxTest` instead.

Currently, it contains an example project to demonstrate its usage. There is no test coverage yet, but I should be working on [it](https://github.com/mosamer/RxTestExt/issues/1) soon.

This project should be evolving to includ

[2017-11-19 20:11] bobgodwinx commented on #32
@onmyway133 Can you please checkout this repo https://github.com/devxoul/RxViewController it looks like what you're doing is already available and well tested. You can also add your contribution to it and I would ask @devxoul to bring in all his @RxSwift related repos into the @RxSwiftCommunity in order to avoid further confusion.

[2017-11-19 20:22] bobgodwinx commented on #30
Any update on this issue?

[2017-11-19 21:23] freak4pc commented on #33
@mosamer Just out of curiosity would you mind showing the RxBlocking equivalent of some RxTestExt code - so it's easy to understand what your library aims to solve?

[2017-11-20 06:24] mosamer commented on #33
@freak4pc I am not sure if this is possible, mainly due the differences between RxBlocking & RxTest themselves. However, taking this code snippet from Action test cases, it can be modified as shown.
[code]

[2017-11-20 12:25] freak4pc commented on #33
Sorry, I meant RxTest :) It was late 😴

Anyways, cool! looks like nice syntactical sugar :)

by the way
`assert(inputs).next(times: 2)` isn't the same as asserting "a" and "b" and 10 and 20 :)
But other than that looks pretty clean.

I think the approach of `RxSwiftExt/Core` & `RxSwiftExt/Tests` could be really cool, but it depends on whether or not @fpillet agrees with this approach. I'm also not

[2017-11-20 13:15] mosamer commented on #33
@freak4pc

I know :) that's why I'll try to add [this](https://github.com/mosamer/RxTestExt/issues/8) or [this](https://github.com/mosamer/RxTestExt/issues/6) hopefully soon :)

I also agree on the discoverability concern, so would appreciate second opinion here.

[2017-11-20 18:41] ashfurrow commented on #30
I haven't had time to look into it further, I probably won't have time soon but if someone else has availability, let me know what I can do to support you.

[2017-11-20 18:41] freak4pc commented on #30
The problem with this ticket is its really not straightforward ... every choice of how to do this will be a tradeoff. (Mainly security-wise?)

[2017-11-20 21:45] mosamer commented on #30
If I may add something, shared credentials is of course the easiest and most straight forward solution here. However, it just _feels_ wrong! Something inherently says No about it. Again, this is just a feeling/how-we-used-to-stuff thing so if we need to ignore this and proceed with it, we absolutely can.

On another hand, I see this is a typical bus factor problem. I may suggest simply adding an i

[2017-11-24 07:43] freak4pc commented on #33
@mosamer Looking more into this I really like some of the implementation you made here.

I would really hope to get some more feedback from @RxSwiftCommunity/contributors regarding some of the questions raised, but, given no other replies in the next 3 days I feel comfortable migrating this repo to the main organization if you'd want to.

[2017-11-24 07:44] freak4pc commented on #33
BTW just because I'm writing some tests right now - I would rename
`assert(elements).not.next()`

to either
`assert(elements).never()`

or
`assert(elements).nothing()`

I think the first option makes more sense in Swift context:)

[2017-11-24 14:58] bobgodwinx commented on #30
I ran into this article and I think it could help. Let me know what you guys think.
https://fuller.li/posts/automated-cocoapods-releases-with-ci/

[2017-11-29 16:00] ashfurrow commented on #30
Sounds good to me! It will take a bit of setup but I like this. I won't have time to look at it for a few weeks, if anyone finds other materials that would help, chime in :)

[2017-11-29 16:00] freak4pc commented on #30
I've also bumped into this: https://www.vaultproject.io/intro/index.html

[2017-11-30 16:44] mosamer commented on #33
Done 🎉

[2017-11-30 16:44] #33 closed, assigned to nobody

[2017-12-31 03:17] ashfurrow opened #34 "[Testing] Testing issue for #28."

[2017-12-31 04:44] ashfurrow opened #36 "Remove Aeryn server"
Once https://github.com/RxSwiftCommunity/contributors/issues/28 is completed, we can move away from [Aeryn](https://github.com/Moya/Aeryn). (Aeryn is the thing that invites new contributes to join the organization once their first PR is merged).

Why retire Aeryn? Well,, Aeryn is configured per-repo and many of our repos don't have it at all. Using Peril, we can centralize this.

[2017-12-31 10:01] freak4pc commented on #36
👍 Sounds good !

[2017-12-31 19:17] twittemb opened #37 "Add RxFlow"
- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in LICENSE
- [x] update the remote URL of the Podspec (if any)
- [x] update CI badge
- [x] update CI settings
- [x] transfer repository ownership (once you're a contributor)
- [x] add project to https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io

[2017-12-31 19:22] ashfurrow commented on #37
Very cool! Really nice readme! Looks like we're all set then?

[2017-12-31 20:47] twittemb commented on #37
Hi @ashfurrow ... Yes it seems good to me: CocoaPods and Carthage are ok.

Thanks.

[2017-12-31 20:53] freak4pc commented on #37
Looks like all good and moved ! Thanks @twittemb . Looking forward to checking your project tomorrow :)

[2017-12-31 20:53] #37 closed, assigned to nobody

[2018-01-01 18:34] #28 closed, assigned to ashfurrow

[2018-01-01 23:35] #34 closed, assigned to ashfurrow

[2018-01-01 23:37] ashfurrow commented on #28
Okay @RxSwiftCommunity/contributors we now have Peril running in production that checks pull requests for changelog changes (if applicable, see [here](https://github.com/RxSwiftCommunity/peril/pull/1) for details). If you see anything strange, please just ping me in the PR!

[2018-01-02 00:14] twittemb opened #38 "Slack Channel"
Hi,

I think the Slack channel in the README is wrong.
I think it should be https://rxswift.slack.com.

Am I wrong ?

Thanks.

[2018-01-02 03:01] ashfurrow commented on #38
Good catch – could have worked at one point but not now! Want to open a PR?

[2018-01-02 03:16] twittemb commented on #38
@ashfurrow I just did : https://github.com/RxSwiftCommunity/contributors/pull/40

Thanks 👍

[2018-01-02 16:21] ashfurrow commented on #36
The relevant code to do this is here: https://github.com/danger/peril-settings/blob/fc0015452438c8a1624c0951a600f723f2e60fea/org/aeryn.ts#L18-L39 I'll try to get to this today.

[2018-01-02 21:43] freak4pc commented on #38
Fixed by #40.

[2018-01-02 21:43] #38 closed, assigned to nobody

[2018-01-05 19:43] ashfurrow commented on #36
Okay, this is done and tested!

[2018-01-05 19:43] #36 closed, assigned to nobody

[2018-01-06 18:30] ashfurrow commented on #36
This is also possible on personal, non-org repos: https://github.com/ashfurrow/peril-settings/blob/master/rules/aeryn.ts

[2018-01-22 06:22] dangthaison91 opened #43 "RxASDataSources"
https://github.com/dangthaison91/RxASDataSources

### Checklist for Transferring Ownership

- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [x] update the remote URL of the Podspec (if any)
- [ ] update CI badge
- [ ] update CI settings - Pending CI configuration
- [x] transfer repository ownership (once y

[2018-01-22 08:14] freak4pc commented on #43
CI Badge and Settings are irrelevant as project has no tests yet.
Project now lives in https://github.com/RxSwiftCommunity/RxASDataSources

[2018-01-22 08:14] #43 closed, assigned to nobody

[2018-02-09 21:28] freak4pc commented on #31
I came up with a really great solution for this, should we continue discussion here or a new issue? @ashfurrow

[2018-02-09 21:31] freak4pc commented on #29
I came up with a great solution for the deployment issue we've been battling. Closing this issue in favor of a new one where I'll describe the solution and gather some feedback before starting with a pilot (on RxAlamofire, probably)

[2018-02-09 21:31] #29 closed, assigned to nobody

[2018-02-09 22:03] freak4pc opened #44 "[Proposal] Resolve Deployment of new CocoaPods on a Community-level"
This is in continued discussion to #29 & #27.

## The Problem

People who are the sole owners of a Cocoapod abandon their - still active - project, leaving the community without an ability to deploy new Pod versions of a library. This is a huge issue in RxGoogleMaps and has the potential to be an issue in other repos as well.

## Proposed Solution

It might've seemed this discussion have "died", b

[2018-02-09 22:09] esttorhe commented on #44
👏 This sounds like a good solution.

The simplest easiest of modifying the template when transferring ownership will definitely help.
Having the automated deploys would be the icing on the cake!!

Great work @freak4pc !

[2018-02-09 22:09] freak4pc commented on #44
Dang you're a quick reader @esttorhe , thanks !

[2018-02-09 22:28] ashfurrow commented on #44
Hey! Yes I agree, using a common email is a good idea, feel free to add me to the email forwarder. Let's make sure if we move forward with this solution (I think/hope we should) that we document everything appropriately. We'll also have to follow-up with all our existing repos.

Okay so automating deploys is trickier... I have a small security concern. For the repos that I switched to CircleCI a f

[2018-02-10 06:33] freak4pc commented on #44
Thanks for the feedback @ashfurrow :)

I had similar security conern, but I felt like Peril entirely solves this, and I was also sort of "blacklisting" this option up until when you set-up Peril.

Repos that already have a Dangerfile won't have to run Danger locally since they get it "for free" with Peril, there would be no need for a repo-level secret since Peril has org-wide organization and run

[2018-02-10 13:14] orta commented on #44
Yeah, Peril does fix that.

TBH, I think this is great idea 👍

[2018-02-11 16:41] devxoul commented on #44
[code]

🤓

[2018-02-11 16:55] freak4pc commented on #44
Haha :) Fair @devxoul

In my defense, I [usually get it right](https://github.com/NoTests/RxFeedback.swift/pull/26/files#diff-29944324a3cbf9f4bd0162dfe3975d88R23) 😉

[2018-02-11 22:28] bobgodwinx commented on #44
@freak4pc I give my blessing to this solution 💯 I think it's fine when deployment happens only on new tags, which the most important thing. So I vote for this solution 👍

[2018-02-13 15:16] freak4pc commented on #44
Our first Auto-Deploy was successful 🎉
https://circleci.com/gh/RxSwiftCommunity/RxGoogleMaps/13

[2018-02-13 15:19] ashfurrow commented on #44
How exciting! Very well-done 😄 Looks like the `pod trunk` is really verbose, any way we can trim it down? Or is it verbose on purpose? Either way, looks good!

[2018-02-13 15:20] freak4pc commented on #44
@ashfurrow Sure! We can definitely --silent it 👍
I sort of left it there to see "stuff is happening" since it was the first build ever.

When writing the docs for how to set this up (as its an optional step), we can link to that CircleCI file as an example, possibly

[2018-02-13 15:22] ashfurrow commented on #44
Cool! I wonder if we can redirect the verbose output to an [artefact directory](https://circleci.com/docs/1.0/build-artifacts/) is it's available for inspection if we need it, but still have like an inline quiet output?

[2018-02-13 15:24] freak4pc commented on #44
Nothing built-in to that `pod trunk push` command but we can just `pod trunk push --verbose ... > pod_trunk_push.log`

[2018-02-13 15:48] freak4pc commented on #44
@ashfurrow I did this here https://circleci.com/gh/RxSwiftCommunity/FakeRepo/34#artifacts/containers/0

But TBH - I have no idea why it's so verbose. it's not doing that locally for me and I didn't have that verbose flag on the original build on RxGoogleMaps 🤔

[2018-02-13 15:49] ashfurrow commented on #44
Yeah I was surprised by that too. Normally `pod trunk push` is _really_ parsimonious with its output. Maybe it detects its on a CI environment? Hmm.

[2018-02-13 15:50] freak4pc commented on #44
Seems like it ... hm
This is how it looks locally for me:
<img width="560" alt="6a0b32a1-18a9-4cc8-978b-1dc663eaa0d8" src="https://user-images.githubusercontent.com/605076/36159024-67d943ea-10e6-11e8-8721-d6dd8aadca4f.png">

[2018-02-13 15:56] freak4pc commented on #44
@ashfurrow This seems OK. I really have no good idea of why this is happening: https://github.com/CocoaPods/cocoapods-trunk/blob/1a28c0957d00e6c679abbf037b2447080b3a8e26/lib/pod/command/trunk.rb#L74

**EDIT:** Ohh this is interesting https://discuss.circleci.com/t/cocoa-pods-is-running-in-verbose-mode/18112

[2018-02-13 16:02] ashfurrow commented on #44
Mmmm okay. Could it be that we're not specifying a podspec for `pod trunk push`, so the `spec` param there is `nil`?

[2018-02-13 16:03] freak4pc commented on #44
@ashfurrow Look at the second link there - it seems to be a known issue. I'll shoot an email to one of the support engineers and see if we can get some clarity.

[2018-02-16 16:46] freak4pc commented on #44
@ashfurrow some info from Circle CI :

~. You can edit it as you like prior to running anything. Though take note that **if a build fails without the verbose logging it will be almost impossible for us to provide support**. If you're okay with that then feel free to edit the file as needed in a config step.

I think its fine practically. We could potentially edit the config only for that part of t

[2018-02-16 16:49] ashfurrow commented on #44
Okay, sounds good. We can always change our minds later 🙃

[2018-02-23 20:54] freak4pc commented on #44
@ashfurrow Just FYI, this is what I did:
https://github.com/RxSwiftCommunity/FakeRepo/blob/master/circle.yml#L24

It is quite the hack, but it works for that specific purpose :)

https://circleci.com/gh/RxSwiftCommunity/FakeRepo/42
<img width="1233" alt="81758c6a-2786-41b9-9184-db27e4fbee51" src="https://user-images.githubusercontent.com/605076/36616450-7c12b91e-18ec-11e8-89df-2ee63edd7b37.png">

[2018-02-23 20:56] ashfurrow commented on #44
Makes sense! Good commenting 👍

[2018-02-23 20:57] freak4pc commented on #44
@ashfurrow Funny enough, but I think this calls for a `--noverbose` flag to override the config file ;)

One day ...

[2018-03-08 14:10] wddwycc opened #45 "RxTheme"
My colleague was using [SwiftTheme](https://github.com/jiecao-fm/SwiftTheme) on iOS,
but the lib is very hard to extend and its implementation is not that clean.

I know RxCocoa is perfect for such binding switch,
so I write this lightweight lib with a `ThemeService<T>` class and a bunch of `Binder<T>` presets.

https://github.com/wddwycc/RxTheme

It's now used in most downloaded coin analysis app

[2018-03-08 17:30] ashfurrow commented on #45
Looks awesome! I've invited you to the org, let me know what we can do to help!

[2018-03-08 18:31] freak4pc commented on #45
Welcome @wddwycc ! As @ashfurrow mentioned, let us know if you need help in transferring ownership.

There's one extra step that we didn't update in the documentation:

- [x] Add `community@rxswift.org` as an owner of your project's CocoaPod by using `pod trunk add-owner community@rxswift.org`.

You can read more on this decision [here](https://github.com/RxSwiftCommunity/contributors/issues/44) b

[2018-03-09 01:34] wddwycc commented on #45
@ashfurrow @freak4pc  thank you guys.

[2018-03-09 11:22] wddwycc commented on #45
@ashfurrow @freak4pc

Finished tasks and [PR is here](https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io/pull/74)

[2018-03-09 13:52] bobgodwinx commented on #45
Really nice I love the idea, congrats. 👍  next is to support `Carthage` if you can. But no rush. you can create an issue and someone can pick it up from there.

[2018-03-11 20:19] freak4pc commented on #45
Closing this one. Thanks @wddwycc !

[2018-03-11 20:19] #45 closed, assigned to nobody

[2018-03-28 16:04] freak4pc opened #47 "Migrating appropriate projects to Circle CI v2"
Some of our repos are using Circle CI happily for a long time now. v2 has also been in beta for a almost a year by now, but lately [it's been announced Circle CI will be sunsetting v1 by end of Augut, 2018](https://circleci.com/blog/sunsetting-1-0/).

I wanted to take this time to assemble a list of projects currently using Circle CI v1 and provide help in migration to those who need it :)

The li

[2018-04-06 23:39] arnauddorgans opened #48 "RxFirebase"
- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [x] update the remote URL of the Podspec (if any)
- [x] update CI badge
- [x] update CI settings
- [x] transfer repository ownership (once you're a contributor)
- [x] fork the repo back to your personal account
- [ ] add project to https://github.com/RxSwiftC

[2018-04-07 07:27] freak4pc commented on #48
Thanks @arnauddorgans  - I invited you to the organization, feel free to complete the process and let us know if you need any and all help :)

Please also make sure to fix your CI since its broken at the moment :)

[2018-04-07 07:32] freak4pc commented on #48
@arnauddorgans I've also archived RxFirebase and renamed it RxFirebase-Deprecated so you should have no issues of transferring with the same name.

[2018-04-07 15:18] SD10 commented on #48
Yeah, I have to figure out how to fix CI for projects with Firebase as a dependency because I'm having the same issue. I don't know much about travis but it looks like the CocoaPods version is out of date.

[2018-06-08 04:05] satishbabariya opened #49 "RxContacts"
https://github.com/satishbabariya/RxContacts/
RxContacts is a RxSwift wrapper around the Contacts Framework.

I believe my project belongs in RxSwiftCommunity.

[2018-06-08 14:04] freak4pc commented on #49
Hey Satish! Looks great :)
Can you please paste in the checklist from the contribution guide and make sure you follow all of the steps ?

Thanks !
Shai

[2018-06-08 17:44] satishbabariya commented on #49
- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [x] update the remote URL of the Podspec (if any)
- [x] update CI badge
- [x] update CI settings
- [x] transfer repository ownership (once you're a contributor)
- [x] fork the repo back to your personal account
- [X] add project to https://github.com/RxSwiftC

[2018-06-08 17:47] freak4pc commented on #49
Can you do the last 2 steps ? @satishbabariya

[2018-06-08 17:57] satishbabariya commented on #49
Done. and Done.

[2018-06-10 01:44] twittemb opened #50 "Add RxReduce"
- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [x] update the remote URL of the Podspec (if any)
- [x] update CI badge
- [x] update CI settings
- [x] transfer repository ownership (once you're a contributor)
- [x] add project to https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io

[2018-06-10 12:22] freak4pc commented on #49
@satishbabariya Hey buddy - I just invited you as a Member of RxSwiftCommunity. Once you accept, feel free to complete the transfer ownership step and fork the repo back to your personal account.

Once this is done you may close this issue as this is all done :)

Thank you for your contribution, and welcome to RxSwiftCommunity!
Shai.

[2018-06-10 12:23] freak4pc commented on #50
Hey @twittemb , you're missing this:
- [ ] Add `community@rxswift.org` as an owner of your project's CocoaPod by using `pod trunk add-owner YourPodName community@rxswift.org`.

Can you confirm you've done it? :)

Thank you!

[2018-06-10 14:29] twittemb commented on #50
Hi @freak4pc

I just did 👍

[2018-06-10 16:05] freak4pc commented on #50
Looks good to me !  Closing this

[2018-06-10 16:05] #50 closed, assigned to nobody

[2018-06-11 15:05] freak4pc commented on #49
Hey @satishbabariya , I actually don't see it in our community website: http://community.rxswift.org

Can you open a PR to add it there as well? You can take this as inspiration: https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io/pull/81

[2018-06-11 15:07] satishbabariya commented on #49
Also, do I need to release new pod version?

[2018-06-11 15:11] satishbabariya commented on #49
Oh! is this one? , https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io/pull/80

[2018-06-11 15:29] #49 closed, assigned to nobody

[2018-06-11 15:29] freak4pc commented on #49
@satishbabariya I think you would as it points to a different repository ?

[2018-07-11 08:35] freak4pc commented on #44
I feel pretty confident closing this right now. It is not yet wide-spread across the entire existing community repos, but every new repo adds `community@rxswift.org` as an owner, making it possibly to deal with owners that leave the community, which was the number concern around here.

For automatic deploys, several repos have this but it would take much more effort and community help to make this

[2018-07-11 08:35] #44 closed, assigned to nobody

[2018-08-22 09:09] Davarg opened #51 "RxBiBinding"
Hello, guys
I've created solution for bidirectional binding https://github.com/Davarg/RxBiBinding
This solution is based on ReactiveCocoa (Obj-C version)
I think this will be useful for somebody

- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [x] update the remote URL of the Podspec (if any)
- [x] update

[2018-08-22 13:47] #48 closed, assigned to nobody

[2018-09-07 14:17] ashfurrow commented on #51
Awesome! Sorry for the delay in responding – I've been really busy lately. I've invited you to the org so you should be able to move forward on this list. Let me know if I can help!

[2018-09-07 14:21] freak4pc commented on #51
Hey @Davarg - Just saw this and noticed a few issues:

1. You're using Variable which is currently on path to deprecation, I would suggest avoiding this.
2. The Bi-Binding operator exists in the main repo as an example written by Kruno. Might want to take a look there for some inspiration?

Just a thought. Thanks for the contribution!

[2018-09-07 16:19] Davarg commented on #51
@ashfurrow @freak4pc  thanks guys.
1. I will replace Variable with something appropriate
2. Hmm, I will checkout this implementation, I think you mean this https://github.com/ReactiveX/RxSwift/blob/master/RxExample/RxExample/Operators.swift . Before I started my project I've looking solutions for Bi-Binding and all of them are had same issue with duplicated value.

   I will try to explain: (A) --

[2018-09-15 18:14] Davarg commented on #51
@ashfurrow Hello, I've completed all requirements from checklist, so should I close this ticket?

[2018-09-15 18:25] #51 closed, assigned to nobody

[2018-09-15 18:25] freak4pc commented on #51
Thanks !

[2018-10-10 06:14] khambir opened #52 "RxLocalizer"
I would like to add https://github.com/khambir/RxLocalizer to RxSwiftCommunity. This pod will help developers to localize their apps, using RxSwift 🚀. Also users are able to force application language to non-system one on the fly, without restarting the application.

- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in L

[2018-10-10 20:19] ashfurrow commented on #52
Cool! I've invited you to the organization. Let me know if you have any questions, you should be all set to proceed with that list!

[2018-10-11 00:52] khambir commented on #52
Hi, @ashfurrow! I've already done all tasks from the checklist.

[2018-10-11 14:30] ashfurrow commented on #52
Great work! Let's close this issue then?

[2018-10-11 16:14] khambir commented on #52
@ashfurrow yes, thank you

[2018-10-11 16:54] #52 closed, assigned to nobody

[2018-10-15 18:45] freak4pc opened #53 "Transferring ownership of RxReachability"
Opened this to help out @bmoliveira. Also added you as a member to the Org so you can make the transfer once you're done with the default checklist:

- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [x] update the remote URL of the Podspec (if any)
- [x] update CI badge
- [x] update CI settings
- [x] transf

[2018-11-16 07:41] GeekTree0101 opened #54 "RxCocoa-Texture"
## RxCocoa-Texture
### RxCocoa Extension Library for Texture. (a.k.a AsyncDisplayKit)

repo url: https://github.com/Geektree0101/RxCocoa-Texture
medium: https://medium.com/@h2s1880/texture-rxswift-interactive-wrapper-d3c9843ed8d7

- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [x] update the remote URL of

[2018-11-16 08:40] GeekTree0101 commented on #54
add project to https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io
link: https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io/pull/87

[2018-11-21 05:29] GeekTree0101 commented on #54
https://github.com/RxSwiftCommunity/RxCocoa-Texture
transfer repository ownership

[2018-11-21 05:30] GeekTree0101 commented on #54
https://github.com/GeekTree0101/RxCocoa-Texture
 fork the repo back to your personal account

[2018-11-21 16:41] ashfurrow commented on #54
🎉

[2018-11-21 16:41] #54 closed, assigned to nobody

[2019-02-22 08:35] GeekTree0101 opened #55 "Request append RxSwiftCommunity/RxCocoa-Texture contributor"
RxCocoa-Texture is constantly almost being maintained by Vingle iOS Developers.
https://github.com/RxSwiftCommunity/RxCocoa-Texture
I hope that @OhKanghoon will be added as a contributor.
https://github.com/OhKanghoon

Thank you.

[2019-02-22 14:12] ashfurrow commented on #55
Hi @GeekTree0101 – contributors are automatically invited to the RxSwiftCommunity GitHub organization after they send a pull request to any of our repos and that PR gets merged. Are you looking for help maintaining that project? What can we do to support you?

[2019-02-24 04:32] GeekTree0101 commented on #55
Oh i got it! Thank you. I will feedback to my colleague.

[2019-02-24 04:32] #55 closed, assigned to nobody

[2019-04-29 06:02] keisukeYamagishi opened #56 "Extend UIAlertController with RxSwift"
# Extend UIAlertController with RxSwift

## Overview

UIAlertController can be called from the extension of UIViewController using Rx.

## Checklist for Transferring Ownership

- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [x] update the remote URL of the Podspec (if any)
- [x] update CI badge
- [x] upda

[2019-04-29 13:25] ashfurrow commented on #56
Great, thanks! I've invited you to the GitHub organization.

[2019-05-01 06:55] keisukeYamagishi commented on #56
@ashfurrow
All check items Done 🎉

[2019-05-01 14:48] ashfurrow commented on #56
Nice, well done! Thanks again!

[2019-05-01 14:48] #56 closed, assigned to nobody

[2019-05-12 09:23] Bruce-pac opened #57 "RxIGListKit"
[RxIGListKit](https://github.com/Bruce-pac/RxIGListKit) is a RxSwift wrapper for [IGListKit](https://github.com/Instagram/IGListKit).It brings IGListKit into RxSwift world.
I believe my project belongs in RxSwiftCommunity.
Thanks, hope to hear your feedback.

- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
-

[2019-05-12 09:50] freak4pc commented on #57
Hey, I've made you a member ! Feel free to start working through the checklist in the contribution guide :)

[2019-05-12 15:17] Bruce-pac commented on #57
@freak4pc Thank you!

[2019-07-02 06:18] maxvol opened #58 "transfer RxCloudKit to RxSwiftCommunity"
https://github.com/maxvol/RxCloudKit

- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [ ] update the remote URL of the Podspec (if any)
- [ ] update CI badge
- [ ] update CI settings
- [x] transfer repository ownership (once you're a contributor)
- [x] fork the repo back to your personal account
- [x] add

[2019-07-02 06:21] maxvol opened #59 "transfer RxVision to RxSwiftCommunity"
https://github.com/maxvol/RxVision

- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [ ] update the remote URL of the Podspec (if any)
- [ ] update CI badge
- [ ] update CI settings
- [x] transfer repository ownership (once you're a contributor)
- [x] fork the repo back to your personal account
- [x] add pr

[2019-07-02 06:22] maxvol opened #60 "transfer RxARKit to RxSwiftCommunity"
https://github.com/maxvol/RxARKit

- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [ ] update the remote URL of the Podspec (if any)
- [ ] update CI badge
- [ ] update CI settings
- [x] transfer repository ownership (once you're a contributor)
- [x] fork the repo back to your personal account
- [x] add pro

[2019-07-02 06:23] maxvol opened #61 "transfer RxOnDemandResources to RxSwiftCommunity"
https://github.com/maxvol/RxOnDemandResources

- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [ ] update the remote URL of the Podspec (if any)
- [ ] update CI badge
- [ ] update CI settings
- [x] transfer repository ownership (once you're a contributor)
- [x] fork the repo back to your personal account
-

[2019-07-02 07:06] maxvol commented on #58
all what could be done is done ;)

[2019-07-02 07:09] #58 closed, assigned to nobody

[2019-07-02 13:20] #53 closed, assigned to nobody

[2019-07-02 13:21] freak4pc commented on #61
Hey @maxvol - I've added you as a Member of the organization, feel free to transfer your projects here :) Thanks !

[2019-07-02 17:29] maxvol commented on #60
what could be done is done ;)

[2019-07-02 17:29] #60 closed, assigned to nobody

[2019-07-03 20:09] maxvol commented on #59
done what could be done

[2019-07-03 20:09] #59 closed, assigned to nobody

[2019-07-04 04:27] #26 closed, assigned to nobody

[2019-07-04 05:07] #61 closed, assigned to nobody

[2019-07-04 05:08] maxvol commented on #61
what could be done, is done

[2019-07-04 05:12] maxvol opened #62 "transfer https://github.com/maxvol/RxCoreNFC"
transfer https://github.com/maxvol/RxCoreNFC

- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [ ] update the remote URL of the Podspec (if any)
- [ ] update CI badge
- [ ] update CI settings
- [x] transfer repository ownership (once you're a contributor)
- [x] fork the repo back to your personal account
-

[2019-07-04 05:18] #62 closed, assigned to nobody

[2019-07-04 05:20] maxvol opened #63 "transfer https://github.com/maxvol/RxAVFoundation"
- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [ ] update the remote URL of the Podspec (if any)
- [ ] update CI badge
- [ ] update CI settings
- [x] transfer repository ownership (once you're a contributor)
- [x] fork the repo back to your personal account
- [x] add project to https://github.com/RxSwiftC

[2019-07-04 05:25] #63 closed, assigned to nobody

[2019-07-04 05:50] maxvol opened #64 "transfer https://github.com/maxvol/RxSpriteKit"
- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [ ] update the remote URL of the Podspec (if any)
- [ ] update CI badge
- [ ] update CI settings
- [x] transfer repository ownership (once you're a contributor)
- [x] fork the repo back to your personal account
- [x] add project to https://github.com/RxSwiftC

[2019-07-04 05:56] #64 closed, assigned to nobody

[2019-07-04 05:58] maxvol opened #65 "transfer https://github.com/maxvol/RxSceneKit"
- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [ ] update the remote URL of the Podspec (if any)
- [ ] update CI badge
- [ ] update CI settings
- [x] transfer repository ownership (once you're a contributor)
- [x] fork the repo back to your personal account
- [x] add project to https://github.com/RxSwiftC

[2019-07-04 06:05] #65 closed, assigned to nobody

[2019-08-12 11:11] OhKanghoon opened #66 "Request RxCocoa-Texture write authority"
Hello @freak4pc

I need `RxCocoa-Texture` repository write authority

**References**
- #55
- Cocoapods Maintainer (https://cocoapods.org/pods/RxCocoa-Texture)

[2019-08-12 11:27] freak4pc commented on #66
Hey @OhKanghoon - once you have a PR merged, you will be automatically added to the organisation. Is there anything else you're missing?

[2019-08-12 13:26] OhKanghoon commented on #66
@freak4pc
Umm.. I don’t have authority to push , tag, release in RxCocoa-Texture

Should I ask you to granted this authority?

[2019-08-12 13:32] freak4pc commented on #66
Can you try now? I've added you @OhKanghoon

[2019-08-12 13:38] OhKanghoon commented on #66
Thanks  👍🏻👍🏻❤️❤️

[2019-08-12 13:38] #66 closed, assigned to nobody

[2020-05-10 16:23] freak4pc opened #67 "❤️ Looking for new Project Owners 🤓"
# Project Spearhead 𐃉
## Looking for Project Stewards (Owners)

**tl;dr**: We're looking for people to become owners/managers who lead specific RxSwift Community projects under full ownership/autonomy, while deciding the future and spirit of each individual project and keeping the community spirit of it in general.

------

### State of the Union

The RxSwift Community organization has exploded wi

[2020-05-10 16:52] bobgodwinx commented on #67
@freak4pc You can assign `Actions` + `RxWebKit` to me. Anyway I get all the emails.

[2020-05-10 20:28] lordzsolt commented on #67
[RxCoreData](https://github.com/RxSwiftCommunity/RxCoreData) is not in the list.

[2020-05-10 20:57] jdisho commented on #67
I will take `RxKeyboard` and `RxAlamofire`.  @freak4pc

[2020-05-11 02:16] Bruce-pac commented on #67
RxIGListKit <https://github.com/RxSwiftCommunity/RxIGListKit> is not in the list.

[2020-05-11 03:56] freak4pc commented on #67
@jdisho Happy to put you on RxKeyboard. Let me know if you need any help getting that project up to speed with resolving issues/PRs/cutting releases etc.

RxAlamofire is a really large and important project that needs a lot to love, some sort of a roadmap and a more involved management, so before putting anyone on that I'd want to have a chat to make sure the person understands that project would

[2020-05-11 03:58] freak4pc commented on #67
Add both, thanks @lordzsolt, @Bruce-pac.

@Bruce-pac just wanted to make sure you're not still maintaining RxIGListKit? It not have gotten updates for 5 months. Just making sure :)

[2020-05-11 04:19] rynecheow commented on #67
Am interested to look at maintaining RxAlamofire too - if we are open to a co-ownership setup.

[2020-05-11 04:27] freak4pc commented on #67
@rynecheow was actually the active maintainer of RxAlamofire a few months ago so I’d feel comfortable with that. WDYT @jdisho

[2020-05-11 06:58] jdisho commented on #67
Since there was no owner I volunteered to take it, but sure, makes more sense for @rynecheow 👍

[2020-05-11 07:16] jdisho commented on #67
If no active maintainer comes for `RxAnimated` or `RxReachability`, feel free to put me in one of these. @freak4pc

[2020-05-11 07:41] fassko commented on #67
I can take `RxAnimated` (together with @jdisho ) and `RxStarscream` @freak4pc

And `NSObject-Rx` can be on me, although it is not mentioned here.

Have been contributed before on those ones.

[2020-05-11 10:44] mRs- commented on #67
There is also `RxFileMonitor`. Don't know how the current situation is there.

[2020-05-11 11:45] M0rtyMerr commented on #67
I can take `RxRealm`, used it a lot

[2020-05-11 15:24] freak4pc commented on #67
@MortyMerr - RxRealm would be lucky to have you as a maintainer, writing you down there :)

@jdisho - Putting you on RxKeyboard and RxAnimated, seems like two relatively small but meaningful projects you can create a lot of impact on.

@fassko - Putting you on RxAnimated (Being secondary owner with Joan) and RxStarscream. IRT to NSObject-Rx, no problems. I didn't write it down because it's very mi

[2020-05-11 15:28] rynecheow commented on #67
@freak4pc Sounds good! Will probably start to take a look tomorrow and see what to cleanup for a start.

[2020-05-11 15:28] freak4pc commented on #67
Amazing! Thanks everyone for coming through together for this community, you are the best! 💯

[2020-05-11 15:42] freak4pc commented on #67
PS No need to enforce a specific CI, but I've been using GitHub Actions in a few projects lately and it's pretty awesome :)

[2020-05-11 15:56] ashfurrow commented on #67
Sounds like a great plan, thank you @freak4pc 🙇 I have also found myself managing the release process for repos that I haven't contributed to in a few years so handing these off formally to people who are more actively involved sounds like a win/win.

@bobgodwinx I'm happy to hear you're keen on taking over the Action repo – I think you'll do an amazing job 💪

[2020-05-12 01:04] Bruce-pac commented on #67
I am still maintaining RxIGListKit.

[2020-05-12 03:45] freak4pc commented on #67
@Bruce-pac Perfect, writing you down.

Please welcome @engali94 who'll be taking over RxFirebase 🔥

[2020-05-12 15:55] twittemb commented on #67
Hi @freak4pc

FYI, RxReduce is not under active development. I will archive it.

[2020-05-12 19:18] freak4pc commented on #67
That's unfortunate, but thanks for letting me know @twittemb

[2020-05-13 00:25] mosamer commented on #67
Hi @freak4pc I believe I'll also archive RxTestExt in favor of RxNimble.

[2020-05-14 14:07] mRs- commented on #67
@fabianmuecke and I will take care of RxWebKit

[2020-05-14 15:22] freak4pc commented on #67
Amazing, thank you @mRs- !

[2020-05-15 17:43] o-nnerb commented on #67
Hi @freak4pc I can help with `RxReachability`

[2020-05-17 19:53] minuscorp commented on #67
Hi! As I commented on Twitter, I'm available to maintain whichever package needs the most. Although RxAlamofire is my best preference, I can fit in any of them 🥰

[2020-05-18 03:51] freak4pc commented on #67
@brennobemoura Help means taking ownership or regular contribution ? Happy for either :)

[2020-05-18 03:52] freak4pc commented on #67
Hey, thank you so much! RxAlamofire already has two owners so it wouldn’t be as beneficial adding more there. RxMKMapView, RxCoreData and RxCoreMotion seem to be the ones left.

[2020-05-18 11:26] o-nnerb commented on #67
@freak4pc I can help by being ownership of `RxReachability`

[2020-05-18 13:49] freak4pc commented on #67
Ok, adding you @brennobemoura - note it should probably be upgraded at some point to conditionally use the new Network.framework stuff

[2020-05-18 13:50] freak4pc commented on #67
Also, please welcome @rizwan95 who'll take over RxCoreMotion

[2020-05-19 16:15] minuscorp commented on #67
I can help with RxMKMapView if needed

[2020-06-20 13:58] mustafagunes opened #68 "RxBatteryManager 🔋"
Hello!

I recently felt the need to write this library and started using it in my own project. I have presented this to the benefit of everyone by sharing it publicly. But I believe it would be much more beneficial for the community to publish it. Project can be installed with SPM or CocoaPods 🎉

Repo: https://github.com/mustafagunes/RxBatteryManager

- [x] replace copyright with "Copyright (c) Rx

[2020-06-23 08:57] mustafagunes commented on #68
@freak4pc

[2020-06-23 20:55] ashfurrow commented on #68
Cool! I have invited you to the GitHub organization, please follow the steps here: https://github.com/RxSwiftCommunity/contributors#checklist-for-transferring-ownership Let us know if we can help!

[2020-06-24 09:00] mustafagunes commented on #68
@ashfurrow Thank you, I'll follow the rules on the list as soon as I can 😊

[2020-06-25 08:01] freak4pc commented on #68
Sorry for not getting to this earlier! Thanks @ashfurrow for taking care of this :)
Let us know if we can help in any way.

[2020-06-26 14:39] freak4pc commented on #67
@minuscorp oh wow I'm sorry, I didn't see your comment. I'd be happy for you to take over RxMKMapView. Are you still interested?

Also, the last open repo is RxCoreData if anyone's interested in that.

[2020-06-27 15:41] minuscorp commented on #67
@freak4pc I'm not the CoreData type-of user haha 😅 so for now I can take RxMKMapView, will see forward if I can handle more libs

[2020-07-04 14:41] freak4pc commented on #67
Sounds great, sorry for the delay in response here.
Feel free to start working on RxMKMapView @minuscorp, let me know if you need any help.
When you need access to upload a CocoaPod, let me know and I'll add you.

Cheerrs!

[2020-07-07 20:10] o-nnerb commented on #67
@freak4pc I'm currently switching to Combine, so I would like to recommend @JoeMatt to continue updating RxReachability

[2020-07-08 00:48] JoeMatt commented on #67
Yeah I could do that for now. It’s a pleasure. Someone just poke me if I’m snoozing on anything. 😁

[2020-07-08 03:38] freak4pc commented on #67
Okie dokie :) Welcome, @JoeMatt !

[2020-07-21 09:53] mustafagunes commented on #68
@ashfurrow @freak4pc I've done the necessary tasks. Would you check :)

[2020-07-21 10:14] freak4pc commented on #68
Thanks, and welcome :)

[2020-07-21 10:14] #68 closed, assigned to nobody

[2020-12-01 10:35] freak4pc commented on #67
FYI We're looking for a new maintainer/owner for RxRealm. Should be very little work but let me know if you're interested!

[2020-12-01 10:40] rynecheow commented on #67
I don't mind to take this up too @freak4pc :)

[2020-12-01 14:43] jegnux commented on #67
@freak4pc btw, if there's no current officiel maintainer, I'd like to take RxOptional

[2020-12-03 20:28] freak4pc commented on #67
I got the imperssion @ashfurrow still sort of looks after it but don't have an issue with adding you as well.

@rynecheow Happy to! I'm sure you'll do great work. Adding you :)

[2020-12-03 20:36] ashfurrow commented on #67
Yeah it originally came out of an app I built but I haven't been actively maintaining it for a while. Help would be appreciated @jegnux 🙇

[2020-12-18 11:19] behrad-kzm opened #69 "RxSocket.io is the only Rx library for socket.io"
very simple use-cases for working with socket.io

- [x] replace copyright with "Copyright (c) RxSwiftCommunity" in code
- [x] replace copyright in README
- [x] replace copyright in LICENSE
- [ ] update the remote URL of the Podspec (if any)
- [ ] update CI badge
- [ ] update CI settings
- [x] transfer repository ownership (once you're a contributor)
- [x] fork the repo back to your personal accoun

[2020-12-18 14:33] ashfurrow commented on #69
Very cool! Could have used this for sure on a project 😄 I just sent over an invitation. Once the repo is transferred over we can merge https://github.com/RxSwiftCommunity/rxswiftcommunity.github.io/pull/118

[2020-12-27 15:22] #69 closed, assigned to nobody

[2021-01-08 06:51] vandadnp commented on #23
I'm assuming we can close this issue?

[2021-01-19 19:45] ashfurrow commented on #23
Yup, let's close. @rsobolewski can re-open if they'd like any help.

[2021-01-19 19:45] #23 closed, assigned to nobody

[2021-02-24 03:20] Econa77 commented on #67
@freak4pc I can help with `RxWebKit`. Currently, RxSwift6 support is not completed.
I can also help `Action` and `RxAnimated` as well.

[2021-02-24 06:42] mRs- commented on #67
RxWebKit is generally on our timeline, but we are currently lacking time for this (normal work is blocking us of this topic). But I try to get it this week done